.CenterColumn{
  display: flex;
  flex-wrap: wrap;
  
  background-color:#F9F9F9;
  flex-direction: column;
  
  width: 86vw;
  height: 100vh;
}

.top{
  position: sticky;
  display: flex;
  z-index: 99;
  align-self: center;
  width: 85%;
  height: 10vh;
  border-bottom: solid #EDEDED;

  align-items: center;
  justify-content: flex-end;
  font-family: 'Noto Sans TC';
  font-size: 14px;
  font-weight: bold;
}

.top img {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.top::after {
  content: '';
  width: 20px;
}

.context{
  display: flex;
  flex: 1;
  width: 80vw;
  margin-left: 4vw;
}