.CenterColumn{
  overflow: auto;
  overflow-x: overlay;
  overflow-y: overlay;
  display: flex;
  flex-wrap: nowrap;
  
  background-color:#F9F9F9;
  flex-direction: column;
  
  width: 86vw;
  height: 100vh;
}

.CenterColumn::-webkit-scrollbar {
  display: flex;
  width: 7px;
  height: 10px;
}

.CenterColumn::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

.CenterColumn::-webkit-scrollbar-track-piece {
  background: transparent;
}

.CenterColumn::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}

.CenterColumn::-webkit-scrollbar-track {
  box-shadow: transparent;
}

.top{
  position: sticky;
  top: 0;
  
  display: flex;
  z-index: 99;
  align-self: center;
  
  width: 85%;
  height: 10vh;
  min-height: 10vh;
  border-bottom: solid #EDEDED;

  align-items: center;
  justify-content: flex-end;
  font-family: 'Noto Sans TC';
  font-size: 14px;
  font-weight: bold;

  background-color: #F9F9F9;
}

.top::before {
  position: fixed;
  right: 0;
  content: '';
  background-color: #F9F9F9;
  width: 100vw;
  height: 10vh;
  z-index: -1;
}

.top img {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.top::after {
  content: '';
  width: 20px;
}

.context{
  display: flex;
  flex: 1;
  width: 80vw;
  margin-left: 4vw;
}