.CenterColumn{
  display: flex;
  flex-wrap: wrap;
  
  background-color:#F9F9F9;
  flex-direction: column;
  
  width: 80vw;
  height: 100vh;

  border-left: 5%;
}

.top{
  align-self: center;
  width: 90%;
  height: 10vh;
  border-bottom: solid #EDEDED;
}

.context{
  display: flex;
  flex: 1;
  width: 80vw;
  padding-left: 5%;
}